@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Heebo:wght@300;400&family=Oxygen:wght@300;400&family=Righteous&display=swap");
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
  background-color: #fd7a7aea;
}

.main {
  width: 77vw;
  height: 65vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  background: hsl(0, 0%, 100%);
  border-radius: 4px;
}
/* ----------------esquerda----------------- */
.esq {
  float: left;
  width: 50%;
  text-align: center; /* centraliza o texto */
  background-color: #e44a4a82;
}
.esq h1 {
  margin-top: 15rem;
  font-family: "Bebas Neue", cursive;
}
/* ----------------direita----------------- */

.dir {
  float: right;
  width: 50%;
  text-align: center; /* centraliza o conteúdo */
  display: flex; /* usa flexbox */
  flex-direction: column; /* define a direção dos elementos filhos */
  justify-content: center; /* centraliza verticalmente os elementos filhos */
}
.card {
  /* width: 60%;  */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.card > h1 {
  color: #59adbe;
  margin-bottom: 45px;
  font-family: "Oxygen", sans-serif;
  /* font-weight: 500px; */
  align-items: center;
  font-size: 25px;
}

.in {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0px;
}

.in > input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background-color: #ecf0f1;
  font-size: 12pt;
  box-shadow: 0px 10px 40px #f0ffffde;
}

.in > input::placeholder {
  color: #1f20208c;
}

.in > label {
  color: rgb(179, 179, 179);
  margin-bottom: 10px;
}

img{
    width: 34vw;
}
a{
text-decoration: none;
}

.btn {
  width: 25%;
  padding: 8px 0px;
  margin: 25px;
  border: none;
  border-radius: 15px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  color: #ffffff;
  background-color: #59adbe;
  cursor: pointer;
}

.olhar{
  position: absolute;
  top: 50%;
  left: 73%;
  transform: translateY(-80%);
  width: 20px;
  height: 20px;
  cursor: pointer;
}
img{
    width: 34vw;
}

a{
  padding: 10px;
text-decoration: none;
color: rgb(179, 179, 179) ;
}
.p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Oxygen", sans-serif; 
    color: rgb(168, 168, 168);  
    cursor: pointer;
}
