@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Heebo:wght@300;400&family=Noto+Serif&family=Oxygen:wght@300;400&family=Righteous&display=swap');
* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #F5F5F5;
    font-family: Arial, sans-serif;
}

header {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0px 1px 10px rgb(36, 85, 158);
}

#i {
    width: 100px;
    height: 100px;
}

img {
    width: 30px;
    height: 30px;
}

ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

ul li a {
    padding: 0 20px;
    text-decoration: none;
    color: rgb(66, 65, 65);
    display: inline-block;
    font-size: 20px;
}

li a::after {
    content: '';
    display: block;
    height: 4px;
    border-radius: 10px;
    width: 0;
    background: rgb(127, 181, 216);
    transition: all .6s;
}

li a:hover::after {
    width: 100%;
}

ul li .btn-cad {
    padding: 0 20px;
    text-decoration: none;
    color: rgb(66, 65, 65);
    display: inline-block;
    font-size: 19px;
}

li .btn-cad::after {
    content: '';
    display: block;
    height: 4px;
    border-radius: 10px;
    width: 0;
    background: rgb(64, 155, 216);
    transition: all .6s;

}

li .btn-cad:hover::after {
    width: 100%;
}

.logo {
    display: flex;
}

/* ---- */

.profile {
    margin: 20px auto;
    width: 55%;
    height: 60vh;
    background-color: #FFFFFF;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    
}
.profile-header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    justify-content: space-between;
}

.profile-header .lapis {
    width: 35px;
    height:40px;
}
.modal{
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    display: column;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border-radius: 20px;
    width: 45%; /* Could be more or less, depending on screen size */
}
  
.modal-content-footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top:4rem;
    margin-right: 25px;
  }
  
.modal-content-body {
    display: flex;
    align-items: center;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.input {
    /* padding: 15px */
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
    width: 60%;
}

.model{
    display: none;
    visibility: hidden;
}

<<<<<<< HEAD
=======

<<<<<<< HEAD
.profile-header .lapis {
    width: 7%;
    height: 10%;
   
}
>>>>>>> 8007879744f02549ad53119606a6f44879b068b9
=======
>>>>>>> 5e8764514cd95cb544f8edd00c075007fbde821a
.profile-header h1 {
    font-size: 25px;
    margin: 0;
    padding: 10px;
}
.profile-header button {
    background-color: #0077B5;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
.profile-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile-body-section .lapis{
    width: 4%;
    height: 8%;
}
.profile-body-section {
    flex: 1;
    padding:  30px;
    height: 18vh;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.172);
}
.profile-body-section h2 {
    font-size: 18px;
    margin: 0 0 10px 0;
}
.profile-body-section p {
    margin: 0;
}
.hr{
<<<<<<< HEAD
   display: flex;
   margin-left: 42rem;
   margin-top: 2rem;
=======
    font-size: 20px;
    font-weight: 600;
    /* padding-left:40px; */
>>>>>>> 5e8764514cd95cb544f8edd00c075007fbde821a
}
.hr p{
    font-weight: 700;
   font-size: 22px;
 }
.profile-body-section p{
   padding: 10px;
   
}

.btn {
    background-color: #aa6bdf;
    color: white;
    margin: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.205);
    transition: all 0.3s ease-in-out;
    font-family: 'Oxygen', sans-serif;
  }
  
  .btn:hover {
    background-color: #5589c0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  }
  .footer{
      display: column;
      margin: 40px;
      
  }

<<<<<<< HEAD

  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
=======
  /* -------------------------------------- Alterar -------------------------------------------------*/

.modall {
    display: none;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    align-items: center;
}

.btnn img{
  width: 2vw;
  height: 4vh;
}
.btnn {
    padding-right: 35rem;
    border: none;
    border-radius: 5px;
  }
  
#novo3{
    border-radius: 10px;
}

.fechar{
    cursor:pointer;
    outline: none;
    border:none;
    font-weight: 800;
}


.modal3Header {
    display: flex;
    border-radius: 5px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    box-shadow: 0px 1px 3px rgba(14, 93, 211, 0.493);
}

.modal3Header h3{
    margin: 5px;
}

.modal3Header button {
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;  
    margin: 4px;
    background-color: #eceaeae5;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgb(53, 54, 54);
}

.modal3Form{
    width: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
}

.modal3Footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.modal3Footer .bn-alt {
    padding: 14px 10px;
    margin: 4px;
    width: 40%;
    height: 50px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #eceaeae5;
    border-radius: 5px;
    box-shadow: 0px 3px 5px rgb(47, 47, 48);
}

#novo3 {
    display: block;
    position: relative;
    width: 450px;
    top: 250px;
    padding: 25px;
    background-color: #fff;
    box-shadow: 2px 2px 5px black;
}
.lab1{
    gap:25px;
    margin-top: 7px;
    margin-left: 68px;
}
.lab2{
    gap:25px;
    margin-top: 8px;
    margin-left: 70px;
}
.lab3{
    gap:25px;
    margin-top: 8px;
    margin-left: 75px;
}

#novo3 input{
    border: solid 1px #ccc;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 2px;
    outline:none;
    
}

#novo3 .pl{
    border: solid 1px #ccc;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
}

#alerta {
    display: block;
    position: relative;
    width: 400px;
    top: 200px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 2px 2px 5px black;
    flex-direction: column;
}
>>>>>>> 5e8764514cd95cb544f8edd00c075007fbde821a
