@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Heebo:wght@300;400&family=Noto+Serif&family=Oxygen:wght@300;400&family=Righteous&display=swap');
* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #F5F5F5;
    font-family: Arial, sans-serif;
}

header {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0px 1px 10px #f22b509f;
}

#i {
    width: 100px;
    height: 100px;
}

img {
    width: 30px;
    height: 30px;
}

ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

ul li a {
    padding: 0 20px;
    text-decoration: none;
    color: rgb(66, 65, 65);
    display: inline-block;
    font-size: 20px;
}

li a::after {
    content: '';
    display: block;
    height: 4px;
    border-radius: 10px;
    width: 0;
    background: rgb(127, 181, 216);
    transition: all .6s;
}

li a:hover::after {
    width: 100%;
}

ul li .btn-cad {
    padding: 0 20px;
    text-decoration: none;
    color: rgb(66, 65, 65);
    display: inline-block;
    font-size: 19px;
}

li .btn-cad::after {
    content: '';
    display: block;
    height: 4px;
    border-radius: 10px;
    width: 0;
    background: rgb(64, 155, 216);
    transition: all .6s;

}

li .btn-cad:hover::after {
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
}
.imgage{
    width: 20%;
    height: 25%;
}

/* ---- */

.profile {
    margin: 20px auto;
    width: 55%;
    height: 60vh;
    background-color: #FFFFFF;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    
}
.profile-header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    justify-content: space-between;
}

.profile-header .lapis {
    width: 35px;
    height:40px;
    cursor: pointer;
}
.modalmm {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* overflow: auto; */
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    display: column;
    position: absolute;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border-radius: 20px;
    width: 25%; /* Could be more or less, depending on screen size */
    top: -15%;
    left: 38%;
}
  
.modal-content-footer {
    display: flex;
    align-items: center;
    justify-content:center;
    margin-top:0.1rem;
    /* margin-right: 25px; */
  }
  
.modal-content-body {
    display: flex;
    align-items: center;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.input {
    align-items: center;
    width: 80%;
    border: none;
    border-radius: 10px;
    padding: 12px;
    background-color: #ecf0f1;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #f0ffffde;
    outline: none;
    margin: 10px;
}


.profile-header .lapis {
    width: 7%;
    height: 10%;
   
}

.profile-header h1 {
    font-size: 25px;
    margin: 0;
    padding: 10px;
}
.profile-header button {
    background-color: #0077B5;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
.profile-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile-body-section .lapis{
    width: 4%;
    height: 8%;
}
.profile-body-section {
    flex: 1;
    padding:  30px;
    height: 18vh;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.172);
}
.profile-body-section h2 {
    font-size: 18px;
    margin: 0 0 10px 0;
}
.profile-body-section p {
    margin: 0;
}
.hr{
    display: flex;
    font-size: 20px;
    font-weight: 600;
    /* padding-left:40px; */
}
.hr p{
   font-weight: 700;
   font-size: 22px;
 }
.profile-body-section p{
   padding: 10px;
   
}

.btn {
    background-color:#f22b4f;
    color: white;
    margin: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.205);
    transition: all 0.3s ease-in-out;
    font-family: 'Oxygen', sans-serif;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #eb133b;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  }
  .footer{
      display: column;
      margin: 40px;
      
  }

  .close {
    color: #35797d;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
  