@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}



.tudo-login{
    width: 100vw;
    height: 100vh;
    background: hsl(255, 19%, 21%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.esq{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.esq > h1{
    font-size: 3vw;
    color: #59adbe;
}

.esq-image{
    width: 34vw;
}

.dir{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 60%; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #3c3452;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card > h1{
    color: #59adbe;
    font-weight: 800;
    margin: 0;
}

.in{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.in > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: rgb(123, 133, 133);
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.in > input::placeholder{
    color: #f0ffff94;
}

.in > label{
    color: rgb(206, 210, 212);
    margin-bottom: 10px;
}

.btn{
    width: 100%;
    padding: 16px 0px;
    margin:  25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2f2841;
    background-color: #59adbe;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #0067ee52;
}

